.bg {
  background-color: rgb(29, 18, 18);
}

.hizalama {
  text-align: center;
  color: darkviolet;
}

ul {
  list-style-type:none;
}

.abc {
  text-decoration: none;
 }

 .arkaplan {
  background-color:#E9ECEF ;
 }